$title-primary: #25213B;

// yellow
$yellow-dark: #FFD217;
$yellow-light: #FFFCEE;

// purple
$purple-light: #FBF4FF;
$purple-dark: #3D1182;
$purple-light-border:#F1DBFF;

// red
$red-dark: #D0021B;

$input-pink: #F4F5F6;