.new-user {
  position: fixed;
  top: 0;
  left: 100%;
  width: calc(100vw + 429px);
  height: 100vh;
  background: rgba(#000, 0.6);
  display: flex;
  justify-content: flex-end;
  transition: 0.5s ease-in-out;
  .content {
    width: 429px;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    padding: 107px 75px 103px 74px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
      &--title {
        font: 500 18px Fira;
        color: $title-primary;
        line-height: 22px;
      }
      &--close {
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        i {
          font-size: 22px;
        }
      }
    }
    &__input-group {
      padding-top: 25px;
      label {
        font: 400 16px Fira;
        line-height: 19px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        i {
          margin-left: 20px;
        }
      }
      input {
        background: rgba($input-pink, 0.5);
        border: none;
        outline: none;
        width: 100%;
        padding: 14px;
        border-radius: 10px;
        font: 300 14px Fira;
        &::placeholder {
          font: 100 14px Fira;
          color: rgba(#000, 0.5);
        }
        &:focus {
          border: 1px solid #000;
        }
      }
    }
    &__checkbox-group {
      display: flex;
      align-items: center;
      padding: 25px 0 60px 0;
      width: 100%;
      label {
        font: 300 14px Fira;
        i {
          margin: 5px 0 0 10px;
          font-size: 16px;
        }
      }
      input {
        margin-right: 9px;
      }
    }
  }
}


@media screen and (max-width: 470px){
  .new-user{
    width: calc(100% + 40px);
    .content{
      width: calc(100vw - 40px);
      padding: 20px 20px 100px 20px;
      min-height: calc(100vh + 40px);
    }
  }
}


