.home {
  padding-top: 171px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  .main {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin:0 auto 40px auto;
    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 20px;

      a {
        width: 50%;
        text-align: center;
        text-decoration: none;
        font: 500 18px "Fira";
        color: #000;
        padding: 19px 0 16px 0;
        cursor: pointer;
        &:hover {
            transform: scale(1.03);
        }
        &:active, &:visited{
            text-decoration: none;
        }
      }
      .link-active {
        background: $yellow-light;
        border-bottom: 4px solid $yellow-dark;
      }
    }
  }
  .button-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}



@media screen and (min-width: 1264px) {
  .home {
    .main {
      width: 1012px;
    }
  }
}

@media screen and (max-width: 1263px){
  .home {
    .main {
      width: calc(100% - 100px);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 768px){
  .home {
    .main {
      &__header{
        flex-wrap: wrap;
        a{
          width: 100%;
        }
      }
    }
  }
}

